<div class="container-fluid containerbg fci">
  <div class="row p-4 h-100">
    <section class="col-12 col-md-6 text">
      <h1 class="">Globant Values &amp; FCI3</h1>
      <hr class="hr" />
      <div class="col-12 d-flex justify-content-center align-items-center">
        <a
          href="https://sites.google.com/globant.com/people-site-2/talent-manifesto?authuser=0"
          target="_blank"
          rel="noopener noreferrer"
          class="d-flex justify-content-center align-items-center w-50"
        >
          <img
            src="../../../../assets/Avatar.png"
            alt="avatar-image"
            class="avatar"
          />
        </a>
      </div>
    </section>

    <section class="d-flex flex-column col-12 col-md-6">
      <div class="d-flex h-100 align-items-center">
        <app-fci-category class="w-100"> </app-fci-category>
      </div>
      <app-button-next
        class="next-button"
        [path]="'key-people'"
      ></app-button-next>
    </section>
  </div>
</div>
