<div>
  <nav>
    <div
      class="nav nav-tabs flex-column flex-sm-row"
      id="nav-tab"
      role="tablist"
    >
      <a
        class="flex-sm-fill nav-link active bg-primary text-light"
        id="nav-home-tab"
        data-toggle="tab"
        href="#nav-home"
        role="tab"
        aria-controls="nav-home"
        aria-selected="true"
      >
        Expertise
      </a>
      <a
        class="flex-sm-fill nav-link bg-info text-light"
        id="nav-profile-tab"
        data-toggle="tab"
        href="#nav-profile"
        role="tab"
        aria-controls="nav-profile"
        aria-selected="false"
      >
        Sites
      </a>
      <a
        class="flex-sm-fill nav-link text-light bg-warning"
        id="nav-contact-tab"
        data-toggle="tab"
        href="#nav-contact"
        role="tab"
        aria-controls="nav-contact"
        aria-selected="false"
      >
        Business
      </a>
    </div>
  </nav>
  <div
    class="tab-content d-flex justify-content-center p-5 b-tabs"
    id="nav-tabContent"
  >
    <div
      class="tab-pane fade show active"
      id="nav-home"
      role="tabpanel"
      aria-labelledby="nav-home-tab"
    >
      <img
        src="../../../../assets/Studio.png"
        class="logo"
        alt="expertise image"
      />
    </div>
    <div
      class="tab-pane fade"
      id="nav-profile"
      role="tabpanel"
      aria-labelledby="nav-profile-tab"
    >
      <img src="../../../../assets/cope.PNG" class="logo" alt="sites image" />
    </div>
    <div
      class="tab-pane fade"
      id="nav-contact"
      role="tabpanel"
      aria-labelledby="nav-contact-tab"
    >
      <img
        src="../../../../assets/project.png"
        class="logo"
        alt="business image"
      />
    </div>
  </div>
</div>
