<div class="container-fluid containerbg text p-4">
  <section class="col-12 col-md-6 text">
    <h1>UI Studio COPE</h1>
    <hr class="hr" />
    <h3>Key People</h3>
  </section>
  <section class="d-flex justify-content-between flex-wrap w-100 col-12 p-4">
    <app-key-person
      class="d-flex flex-column justify-content-center align-items-center col-12 col-md-3 col-lg-2"
      [imageUrl]="'../../../../assets/Damian.png'"
      [name]="'Damian Lazzarano'"
      [studio]="'SP &amp; UI'"
      [mail]="'damian.lazzarano@globant.com'"
      [position]="'STUDIO PARTNER'"
      [instagram]="'damian.lazzarano'"
      [color]="'#E26EF9'"
    ></app-key-person>
    <app-key-person
      class="d-flex flex-column justify-content-center align-items-center col-12 col-md-3 col-lg-2"
      [imageUrl]="'../../../../assets/David.png'"
      [name]="'David Correa'"
      [studio]="'SP &amp; UI STUDIO'"
      [mail]="'david.correa@globant.com'"
      [position]="'PARTNER'"
      [instagram]="'david.correa'"
      [color]="'#1ECCFC'"
    ></app-key-person>
    <app-key-person
      class="d-flex flex-column justify-content-center align-items-center col-12 col-md-3 col-lg-2"
      [imageUrl]="'../../../../assets/Luciana.png'"
      [name]="'Luciana Zavaleta'"
      [studio]="'UI ENGINEERING'"
      [mail]="'luciana.zavaleta@globant.com'"
      [position]="'PARTNER'"
      [instagram]="'luciana.zavaleta'"
      [color]="'#04F5D1'"
    ></app-key-person>
    <app-key-person
      class="d-flex flex-column justify-content-center align-items-center col-12 col-md-3 col-lg-2"
      [imageUrl]="'../../../../assets/Gabriel.png'"
      [name]="'Gabriel Martinez'"
      [studio]="'UI TDC FOCAL'"
      [mail]="'gabriel.martinez@globant.com'"
      [position]="'TECH. DIRECTOR'"
      [instagram]="'gabo'"
      [color]="'#E26EF9'"
    ></app-key-person>
    <app-key-person
      class="d-flex flex-column justify-content-center align-items-center col-12 col-md-3 col-lg-2"
      [imageUrl]="'../../../../assets/Sebastian.png'"
      [name]="'Sebastian Gomez'"
      [studio]="'UI ENGINEERING'"
      [mail]="'s.gomez@globant.com'"
      [position]="'TECH. MANAGER'"
      [instagram]="'s.gomez'"
      [color]="'#E26EF9'"
    ></app-key-person>
  </section>
  <section class="d-flex justify-content-center flex-wrap w-100 col-12 p-4">
    <app-button-next class="buttonNext" [path]="'ready'"></app-button-next>
  </section>
</div>
