<div class="d-flex justify-content-center align-items-center">
  <div
    id="carousel-example-2"
    class="carousel slide carousel-fade w-100"
    data-ride="carousel"
  >
    <ol class="carousel-indicators">
      <li
        data-target="#carousel-example-2"
        data-slide-to="0"
        class="active"
      ></li>
      <li data-target="#carousel-example-2" data-slide-to="1"></li>
      <li data-target="#carousel-example-2" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" id="carouselimg" role="listbox">
      <div class="carousel-item active">
        <div class="view">
          <img
            class="d-block w-100 vh-100"
            src="../../../../../../assets/Jill.jpg"
            alt="First slide"
          />
          <div class="mask rgba-black-light"></div>
        </div>
        <div class="carousel-caption h-100">
          <div class="d-flex flex-column col-12 col-md-6">
            <h3 class="h3-responsive text">STRATEGIC</h3>
            <div class="d-flex flex-wrap w-100 mt-4">
              <app-studio-item
                class="col-4 p-2 d-flex flex-column align-items-center"
                [logoUrl]="'../../../../assets/studios/FOO.png'"
                [studioName]="'Future of Organizations'"
                [bgColor]="'rgb(29, 29, 180)'"
              >
              </app-studio-item>
              <app-studio-item
                class="col-4 p-2 d-flex flex-column align-items-center"
                [logoUrl]="'../../../../assets/studios/COI.png'"
                [studioName]="'Consulting'"
                [bgColor]="'rgb(82, 228, 89)'"
              >
              </app-studio-item>
              <app-studio-item
                class="col-4 p-2 d-flex flex-column align-items-center"
                [logoUrl]="'../../../../assets/studios/SR.png'"
                [studioName]="'Stay Relevant'"
                [bgColor]="' rgb(219, 0, 248)'"
              >
              </app-studio-item>
              <app-studio-item
                class="col-4 p-2 d-flex flex-column align-items-center"
                [logoUrl]="'../../../../assets/studios/AG.png'"
                [studioName]="'Agile Delivery'"
                [bgColor]="'rgb(102, 240, 102)'"
              >
              </app-studio-item>
              <app-studio-item
                class="col-4 p-2 d-flex flex-column align-items-center"
                [logoUrl]="'../../../../assets/studios/PD.png'"
                [studioName]="'Product Aceleration'"
                [bgColor]="'rgb(255, 165, 0)'"
              >
              </app-studio-item>
              <app-studio-item
                class="col-4 p-2 d-flex flex-column align-items-center"
                [logoUrl]="'../../../../assets/studios/PA.png'"
                [studioName]="'Process Automation'"
                [bgColor]="'rgb(218, 23, 23)'"
              >
              </app-studio-item>
              <app-studio-item
                class="col-4 p-2 d-flex flex-column align-items-center"
                [logoUrl]="'../../../../assets/studios/AI.png'"
                [studioName]="'Artificial Intelligence'"
                [bgColor]="'rgb(194, 34, 74)'"
              >
              </app-studio-item>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="view">
          <img
            class="d-block w-100 vh-100"
            src="../../../../../../assets/Leon.jpg"
            alt="Second slide"
          />
          <div class="mask rgba-black-strong"></div>
        </div>
        <div class="carousel-caption h-100">
          <div class="d-flex flex-column col-12 col-md-6">
            <h3 class="h3-responsive text">SPECIALTY</h3>
            <div class="d-flex flex-wrap w-100 mt-4">
              <app-studio-item
                class="col-4 p-2 d-flex flex-column align-items-center"
                [logoUrl]="'../../../../assets/studios/UI.png'"
                [studioName]="'UX Studio'"
                [bgColor]="'rgb(218, 29, 107)'"
              >
              </app-studio-item>
              <app-studio-item
                class="col-4 p-2 d-flex flex-column align-items-center"
                [logoUrl]="'../../../../assets/studios/MO.png'"
                [studioName]="'Mobile'"
                [bgColor]="'rgb(65, 105, 225)'"
              >
              </app-studio-item>
              <app-studio-item
                class="col-4 p-2 d-flex flex-column align-items-center"
                [logoUrl]="'../../../../assets/studios/GM.png'"
                [studioName]="'Gaming'"
                [bgColor]="'rgb(255, 165, 0)'"
              >
              </app-studio-item>
              <app-studio-item
                class="col-4 p-2 d-flex flex-column align-items-center"
                [logoUrl]="'../../../../assets/studios/OTT.png'"
                [studioName]="'Media OTT'"
                [bgColor]="'rgb(128, 128, 128)'"
              >
              </app-studio-item>
              <app-studio-item
                class="col-4 p-2 d-flex flex-column align-items-center"
                [logoUrl]="'../../../../assets/studios/DA.png'"
                [studioName]="'Big Data Aceleration'"
                [bgColor]="'rgb(135, 206, 235)'"
              >
              </app-studio-item>
              <app-studio-item
                class="col-4 p-2 d-flex flex-column align-items-center"
                [logoUrl]="'../../../../assets/studios/DXP.png'"
                [studioName]="'Digital Content'"
                [bgColor]="'rgb(97, 57, 116)'"
              >
              </app-studio-item>
              <app-studio-item
                class="col-4 p-2 d-flex flex-column align-items-center"
                [logoUrl]="'../../../../assets/studios/IOT.png'"
                [studioName]="'Internet of Things'"
                [bgColor]="'rgb(34, 179, 142)'"
              >
              </app-studio-item>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="view">
          <img
            class="d-block w-100 vh-100"
            src="../../../../../../assets/ada.jpg"
            alt="Third slide"
          />
          <div class="mask rgba-black-slight"></div>
        </div>
        <div class="carousel-caption h-100">
          <div class="d-flex flex-column col-12 col-md-6">
            <h3 class="h3-responsive text">FOUNDATION</h3>
            <div class="d-flex flex-wrap w-100 mt-4">
              <app-studio-item
                class="col-4 p-2 d-flex flex-column align-items-center"
                [logoUrl]="'../../../../assets/studios/CO.png'"
                [studioName]="'Cloud Ops'"
                [bgColor]="'rgb(189, 166, 231)'"
              >
              </app-studio-item>
              <app-studio-item
                class="col-4 p-2 d-flex flex-column align-items-center"
                [logoUrl]="'../../../../assets/studios/QE.png'"
                [studioName]="'Quality Engineering'"
                [bgColor]="'rgb(252, 193, 0)'"
              >
              </app-studio-item>
              <app-studio-item
                class="col-4 p-2 d-flex flex-column align-items-center"
                [logoUrl]="'../../../../assets/studios/CS.png'"
                [studioName]="'Cyber Security'"
                [bgColor]="'rgb(64, 224, 208)'"
              >
              </app-studio-item>
              <app-studio-item
                class="col-4 p-2 d-flex flex-column align-items-center"
                [logoUrl]="'../../../../assets/studios/UI.png'"
                [studioName]="'UI Engineering'"
                [bgColor]="'rgb(122, 171, 245)'"
              >
              </app-studio-item>
              <app-studio-item
                class="col-4 p-2 d-flex flex-column align-items-center"
                [logoUrl]="'../../../../assets/studios/SC.png'"
                [studioName]="'Scalable Platforms'"
                [bgColor]="'rgb(140, 53, 148)'"
              >
              </app-studio-item>
              <app-studio-item
                class="col-4 p-2 d-flex flex-column align-items-center"
                [logoUrl]="'../../../../assets/studios/EV.png'"
                [studioName]="'Continuous Evolution'"
                [bgColor]="'rgb(194, 171, 149)'"
              >
              </app-studio-item>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a
      class="carousel-control-prev"
      href="#carousel-example-2"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carousel-example-2"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
