<div class="container-fluid containerbg bg-dark">
  <div class="row p-4 h-100">
    <section class="col-12 col-md-6">
      <h1 class="title">Career Path</h1>
      <hr />
      <div class="col-12 d-flex justify-content-center">
        <img
          src="../../../../assets/Avatar.png"
          alt="avatar-image"
          class="avatar"
        />
      </div>
    </section>
    <section class="d-flex flex-column col-12 col-md-6">
      <div class="d-flex h-100 align-items-center">
        <app-range class="w-100"></app-range>
      </div>
      <app-button-next
        class="next-button"
        [path]="'triforce'"
      ></app-button-next>
    </section>
  </div>
</div>
