.imagine {
  background-color: black;
  background-image: url("../../../../assets/ResidentBackground.JPG");
  height: 100vh;
  font-size: x-large;
}

a {
  color: #d0f309;
}

a:hover {
  color: #bfd732;
  text-decoration: none;
  cursor: pointer;
}
