<div class="container-fluid containerbg">
  <div class="title p-4">
    <h1>The triforce</h1>
    <hr />
    <p>The three aspects consist of the Studio, TDC and Accounts</p>
    <div class="d-flex">
      <p>You are here&nbsp;</p>
      <p>{{ userName }}</p>
    </div>
    <div class="row">
      <section class="col-12 col-md-6 section-table">
        <div class="col-12 justify-content-left">
          <app-triforce-table></app-triforce-table>
        </div>
      </section>
      <section class="col-12 col-md-6">
        <div class="col-12 d-flex img-container justify-content-center">
          <img
            src="../../../../assets/umbrella.png"
            alt="avatar-image"
            class="avatar"
          />
        </div>
        <app-button-next class="next-button" [path]="'fci3'"></app-button-next>
      </section>
    </div>
  </div>
</div>
