<div class="container-fluid bg-dark triforce">
  <div class="text-warning p-4">
    <h1 class="">The triforce</h1>
    <hr class="bg-warning" />
    <p>The three aspects consist of the Studio, TDC and Accounts</p>
    <div class="d-flex">
      <p>You are here&nbsp;</p>
      <p>{{ userName }}</p>
    </div>
    <div class="row">
      <section class="col-12 col-md-6 section-table">
        <div class="col-12 justify-content-left">
          <app-triforce-table></app-triforce-table>
        </div>
      </section>
      <section class="col-12 col-md-6">
        <div class="col-12 d-flex justify-content-center">
          <img
            src="../../../../assets/Triforce.png"
            alt="avatar-image"
            class="avatar"
          />
        </div>
      </section>
    </div>
  </div>
</div>
