.studios {
  background-color: black;
  height: 100vh;
  /* height: 100; */
  /* height: 100em; */
}
.buttonNext {
  width: 30%;
}

@media screen and (max-width: 1000px) {
  .studios {
    background-color: black;
    height: 100%;
  }
}
