body {
  width: 100%;
}

.card {
  border: none;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}

.expert {
  border-style: dashed;
  padding-right: 2px;
  height: 100%;
  justify-content: space-between;
}

.expmgm {
  background: linear-gradient(
    to right,
    rgba(108, 14, 151, 0.7),
    rgba(216, 32, 103, 0.7)
  );
}

#headingOne {
  background: rgba(255, 193, 7, 0.7);
}

#headingThree {
  background: rgba(23, 162, 184, 0.7);
}

#headingFour {
  background: rgba(40, 167, 69, 0.7);
}
